name: Testing tutorial notebooks

on:
  pull_request:
  push:
    branches: [master]

env:
  COBAYA_PACKAGES_PATH: ./cobaya_packages

jobs:
  check-skip:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check.outputs.skip }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Run skip-check
        id: check
        uses: ./.github/actions/check-skip

  test:
    needs: check-skip
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.11"]

    if: ${{ needs.check-skip.outputs.skip != 'true' }}

    steps:
    - uses: actions/checkout@v5

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies via pip
      run: |
        pip install uv
        uv python install ${{ matrix.python-version }}
        uv python pin ${{ matrix.python-version }}
        uv sync --locked --extra all
        uv run cobaya-install mflike.TTTEEE --no-set-global

    - name: Unit tests
      run: |
        uv run pytest -vv --nbval-lax --nbval-current-env --cov=mflike --cov-report=xml:coverage.xml docs/source/notebooks/*.ipynb

    - name: Report Coverage (codecov)
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
