name: Testing & coverage

on:
  pull_request:
  push:
    branches: [master]

env:
  COBAYA_PACKAGES_PATH: ./cobaya_packages

jobs:
  check-skip:
    runs-on: ubuntu-latest
    outputs:
      skip: ${{ steps.check.outputs.skip }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6

      - name: Run skip-check
        id: check
        uses: ./.github/actions/check-skip

  test:
    needs: check-skip
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.12"]

    if: ${{ needs.check-skip.outputs.skip != 'true' }}

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Set gfortran link on macos-latest
      if: matrix.os == 'macos-latest'
      run: |
        set -x
        sudo ln -s /opt/homebrew/bin/gfortran-13 /usr/local/bin/gfortran
        gfortran --version

    - name: Install dependencies via pip
      run: |
        pip install uv
        uv python install ${{ matrix.python-version }}
        uv python pin ${{ matrix.python-version }}
        uv sync --locked --extra test

    - name: Unit tests
      run: |
        uv run pytest --cov=mflike --cov-branch --cov-report=xml:coverage.xml -vv

    - name: Report Coverage (codecov)
      if: matrix.os == 'ubuntu-latest'
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
